./support_libsignal/*
./pivotalAgent/Data/*
./pivotalAgent/fig/*
./pivotalAgent/AugmentUtils/od_optimize/simulation_test/*
*.git
*.DS_Store
*Data
*log
# *.png

# find .-size+50M | sed 's|^\./||' >> .gitignore
